   * {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #666;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.baslik {

    line-height: 0;
    margin: 8px 0px 15px 0px;
    padding-bottom: 5px;
    width: 100%;
    height: 18px;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    border-bottom: 1px solid rgb(16, 16, 16);
    overflow:initial;
}



.banner {
    width: 100%;
}

ul {
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    border-radius: 5px;
    box-shadow: 5px 10px 15px #242424;
}

li {
    float: left;
}

.saglink {
    float: right;
}


li a {
    display: block;
    color: #858585;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

li a:hover:not(.active) {
    background-color: #151515;
}

li a.active {
    color: white;
    background-color: #ff0000;
}

.main {
    align-self: center;
    display: block;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    border: 1px outset black;
    padding: 30px;
    background-color: #ddd;
    font-size: larger;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #242424;
}

.resim {
    width: 30%;
    float: right;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 1px 1px 10px #242424;
    border-radius: 5px;
}

.link {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.kaynak {
    float: right;
    font-weight: lighter;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 1px;
    border-radius: 5px;
    background-color: #151515;
}  

.flex-child a {
    color: white;
    font-size: xx-large;
    padding: 5%;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.flex-child a:hover {
    background-color: #353535;
}

.flex-child:first-child {
    margin-right: 20px;
} 

.flex-resim {
    float: left;
    width: 15%;
    height: 100%;
    display: block;
    border-radius: 5px;
}


footer {

    display: block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    padding: 20px;
    color: #e0e0e0;
    font-style: italic;
}





@media only screen and (max-width: 675px) {
    .main {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .banner {
        display: none;
    }

    ul {
        position:static;
    }
    
    ul li {
        float: none;    
    }

    .saglink {
        float: none;
    }

    .resim {
        width: 45%;
    }

    .flex-resim {
        display: none;
    }
    
    .kaynak {
        display: none;
    }
    

}